html,
body {
  height: 100%;
}

.dashboard-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 30px repeat(2, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  
}

.dashboard-title {
  grid-area: 1 / 1 / 2 / 3;
  font-weight: bold;
  font-size:larger;
}

.historique-transaction {
  grid-area: 2 / 1 / 4 / 2;
}
.ajouter-transaction {
  grid-area: 2 / 2 / 3 / 3;
}
.settings {
  grid-area: 3 / 2 / 4 /3;
}

.arrow {
  color: rgb(163, 163, 163);
  display: flex;
  align-items: center;
  gap: 12px;
  transition: all 0.3s;
}

.arrow span {
  font-size: x-large;
}

.arrow:hover {
  color: rgb(40, 40, 40);
}
